name: Make image

on:
    release:
        types: [published, edited]

jobs:
    build:
      runs-on: ${{ matrix.os }}
      strategy:
        fail-fast: true
        matrix:
          os: [ ubuntu-latest, windows-latest, macOS-latest ]
      steps:
        - uses: actions/checkout@v2.3.5
        - uses: actions/setup-java@v2
          with:
            java-version: 11
            distribution: 'adopt'
        - run: ./gradlew check --stacktrace
        - if: matrix.os == 'ubuntu-latest'
          run: ./gradlew build
        - if: matrix.os == 'ubuntu-latest'
          uses: AButler/upload-release-assets@v1.0
          with:
            files: './build/libs/*.jar'
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            